<!DOCTYPE html>
<html>
  <head>
    <title>Portfi3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= render 'layouts/partials/Navbar' %>
    <%= yield %>
    <%= render 'layouts/partials/Contact'%>
    <%= render 'layouts/partials/Blog'%>
    
    
  </body>
</html>
